
/*------------------------- GENERAL -----------------------*/

*{
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

h1{
  font-size: 3.5em;
}
h2{
  font-size: 2.3em;
}
h3{
  font-size: 2em;
}
p{
  font-size: 1.5em;
}
ul{
  list-style: none;
}
li{
  font-size: 1.25em;
}

button {
  font-size: 1em;
  font-weight: bold;
  padding: 10px 40px;
  border: 2px solid rgba(0,0,0,.5);
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0,0,0,.5);
  color: white;
  background-color: #3774C4;
}

/*----- NAV -----*/

button:hover{
  background-color: #2C5892;
}

.container{
  max-width: 1200px;
  margin: auto;
}

#maiten {
  display: none;
  height: 60px;
  width: 60px;
  border-radius: 30px;
}

header{
  background-color: rgb(220, 220, 220);
}

header .container{
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}

header nav{
  display: flex;
  flex-direction: row;
  text-align: center;
  padding-bottom: 20px;
  margin-left: 30px;
}

header a{
  padding: 5px 12px;
  text-decoration: none;
  font-weight: bold;
  color: rgb(0, 0, 0);
}

header a:hover{
  color: #3774C4;
}

#boton-contactame {
  display: none;
}

/*----- SECCIÓN HERO -----*/

#hero{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  height: 90vh;
  background-image: linear-gradient(
    0deg,
    rgba(0,0,0,.5),
    rgba(0,0,0,.5)
  )
  ,url("Imágenes/estudiante.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

#hero h1{
  color: rgb(255, 255, 255);
}

.color-name {
  color: #3774C4;
}

/* SEGUNDA SECCIÓN */

#sobre-mi .container {
  text-align: center;
  padding: 120px 12px 200PX 12PX;
  margin-top: 0;
}

/*----- SECCIÓN EXPERIENCIA LABORAL -----*/

#experiencia-laboral {
  background-color: rgb(30, 30, 30);
  color: white;
  text-align: center;
  height: 950px;
}

#experiencia-laboral .container {
  padding: 80px 12px 150px 12px;
}


#experiencia-laboral h2{
  margin-top: 0;
}

#experiencia-laboral p{
  display: none;
}

#boton-info-metalurfica:hover h2{
  display: block;  
}

#experiencia-laboral .carta {
  background-size: cover;
  background-position: center center;
  border-radius: 15px;
  padding: 30px 0;
  margin: 20px;
}

.carta:first-child{
  background-image: linear-gradient(
    0deg,
    rgba(0,0,0,.5),
    rgba(0,0,0,.5)
  )
  ,url("Imágenes/metalurgico.jpg");
}

.carta:nth-child(2) {
  background-image: linear-gradient(
    0deg,
    rgba(0,0,0,.5),
    rgba(0,0,0,.5)
  )
  ,url("Imágenes/mozo.jpg");
}

.carta:nth-child(3) {
  background-image: linear-gradient(
    0deg,
    rgba(0,0,0,.5),
    rgba(0,0,0,.5)
  )
  ,url("Imágenes/vendedor.jpg");
}

/* ----- SECCIÓN CUALIDADES Y CONOCIMIENTOS ------- */

#cualidades-y-conocimientos{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
}

#cualidades-y-conocimientos .container{
  text-align: center;
}


#cualidades-y-conocimientos li{
  font-weight: bold;
}

#cualidades-y-conocimientos h2{
  color: #3774C4;
}

/*----- SECCIÓN CONTACTO -----*/

#contacto {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  background-image: linear-gradient(
    0deg,
    rgba(0,0,0,.5),
    rgba(0,0,0,.5)
  )
  ,url("Imágenes/contacto.jpg");
  background-size: cover;
  background-position: center center;
}

#contacto ul {
  border: 3px solid white;
  padding: 0;
}

#mail {
  margin: 30px
}

#celular {
  margin: 30px;
}

#imagen-contacto {
  display: none;
}

/*----- FOOTER GENERAL ------*/

footer {
  background-color: rgb(220, 220, 220);
}

footer p{
  font-size: 20px;
  margin: 0;
  padding: 12px;
  color: rgb(100, 100, 100)
}

footer .container {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

/*---------------------------------------------------------- RESPONSIVE SECCIÓN --------------------------------------------------------------*/

@media (min-width: 400px) {
  #maiten {
    display: block;
  }
}

@media (min-width: 720px){
  
  /*----- NAV ------*/
  
  .logo {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
  }

  .logo i{
    text-align: center; 
    padding-right: 15px;
  }

  #boton-contactame {
    display: block;
    margin-left: 0;
    padding-top:px;
    align-items: center;
    text-align: center;
  }
  
  #maiten {
    display: block;
    padding: 5px;
    height: 60px;
    width: 60px;
    border-radius: 30px;
    margin-left: 100px;
    margin-right: 0;
  }

  header {
    width: 100%;
    position: fixed;

  }

  header .container{
    flex-direction: row;
    justify-content: space-between;
  }

  header nav {
    flex-direction: row;
    padding-bottom: 0;
    padding-left: 50px;
  }

  /*----- SECCIÓN SOBRE MI ------*/

  #sobre-mi {
    justify-content: top;
  }

  #sobre-mi .container {
    display: flex; 
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  #sobre-mi .info-de-mi {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 90px;
    width: 50%;
    max-width: 600px;
  }

  #sobre-mi .img-container {
    background-image: url(Imágenes/Maiten-Oviedo.jpg);
    background-size: cover;
    background-position: center center;
    height: 500px;
    width: 500px;
    border-radius: 300px;
  }

  /*----- SECCIÓN EXPERIENCIA LABORAL ------*/
  
  #experiencia-laboral {
    height: auto;
  }

  #experiencia-laboral .trabajos {
    display: flex;
    justify-content: center;
  }

  #experiencia-laboral p{
    display: block;
  }

  #expericia-laboral h3{
    margin-top: 0;
  }

  #experiencia-laboral .carta {
    padding: 15px;
    margin-bottom: 30px;
  }
  
  .carta button{
    display: none;
  }
  
  
  /*----- SECCIÓN CUALIDADES Y CONOCIMIENTOS -----*/
  
  #cualidades-y-conocimientos .img-container{
    background-image: url("Imágenes/conocimientos.png");
    background-size: cover;
    background-position: center center;
    width: 420px;
    height: 310px;
  }

  #cualidades-y-conocimientos .container{
    text-align: initial;
    max-width: 50vw;
    margin-left: 0;
    margin-right: 30px;
  }

  #cualidades-y-conocimientos {
    margin-left: 50px;
    flex-direction: row;
  }

  /*----- SECCIÓN CONTACTO -----*/

  #contacto ul {
    font-size: 20px;
    width: 600px;
    height: 400px;
    border: 5px solid white;
    display: block;
    padding-top: 85px;
    align-items: center;
    text-align: center;
  }
  
  #mail {
    margin: 30px
  }
  
  #celular {
    margin: 30px;
  }

}

@media (min-width: 838px){
  .logo i{
    text-align: center; 
    padding: 0;
  }

  #maiten {
    display: block;
  }
}